* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    align-items: center;
    z-index: 2;

    & img {
        width: 250px;
    }
}

& nav {
    & ul {
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}

section {
    
    background-image: radial-gradient(blueviolet, gold);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        margin: auto;
        height: 100%;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .dog-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-30deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(50px);
                }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .dog-information {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 8em;
                    line-height: 1em;
                    font-family: "League Gothic", sans-serif;
                }

                & .description {
                    color: #333;
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                }

                & .information {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #000;
                    background-color: #beff1b;
                    color: #000;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "League Gothic", sans-serif;

                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #000;
        }
    }

    .arrow {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;


        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 100px;
                margin-top: -25px;
                margin-left: -25px;
            }

            &:hover {
                background-color: #beff1b;
            }
        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 50%;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif;
        }
    }

    & ul {
        display: flex;
        gap: 10px;

        & li {
            width: 50px;
            height: 5px;
            background-color: #beff1b;
            border-radius: 5px;
            transition: 0.5s;
        }

        & .active {
            background-color: #fff;
        }
    }




}

section {

    & .list {
    --calculation:1;    

        & .item {
            transform: translateX(100vw * var(--calculation));
            transition: 0.5s;
            opacity: 0;

            & .dog-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .dog-information,
                h2,
                .description,
                .information {
                    transform: translateX(200px * var(--calculation));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;

                }

                & .description {
                    transition-delay: 0.7s;

                }

                & .information {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .dog-img {
                & img {
                    transform: rotate(-20deg);
                }
            }

            & .content {

                & .dog-information,
                h2,
                .description,
                .information {
                    transform: translateX(0);
                    opacity: 1;
                }

            }
        }
    }
}